@import 'tailwindcss';
@import '../../node_modules/locomotive-scroll/dist/locomotive-scroll';

@theme {
  /* custom properties here e.g. fonts, colours, images, breakpoints etc
  --font-fx: 'FX_Neofara', Arial, Helvetica, sans-serif;
  --black-purple: #201547;
  --pink: #dc5596;
  --heroBackground: url('../assets/images/desktop/1.jpg');
  */
}

@layer base {
  html {
    box-sizing: border-box;
    font-size: 10px;
    /* scroll-behavior: smooth; Interferes with Locomotive Scroll and Smooth Scrolling */
  }

  /**
   * Make all elements from the DOM inherit from the parent box-sizing
   * Since `*` has a specificity of 0, it does not override the `html` value
   * making all elements inheriting from the root box-sizing value
   * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
   */

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /**
   * Basic typography style for copy text
   */
  body {
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2em;
    text-wrap: pretty;
  }
}
